.SingUp{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
button{
    background-color: palevioletred;
    border: 1px solid palevioletred;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

  .input {
    width: 600px;
    padding: 20px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
   
   
   
    
  }
  .signup{
    margin-left: 400px;
    border: 3px solid palevioletred;
    width: 700px;
    padding-right: 30px;
    
     
  }
  .input {
    width: 600px;
    padding: 20px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    border-color: palevioletred;
  }

  @media  only screen  and(min-width:200px) and (max-width:400px){
    .SingUp{
      margin-left: 50px;
      margin-top: 0px;
      margin-bottom: 0px;
  }
  button{
      background-color: palevioletred;
      border: 1px solid palevioletred;
      border-radius: 4px;
      box-sizing: border-box;
      width: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  
    .input {
      width: 100px;
      padding: 20px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; 
     
     
     
      
    }
    .signup{
      margin-left: 0px;
      border: 3px solid palevioletred;
      width: 100px;
      padding-right: 30px;
      
       
    }
   
  

  
}

 
  