.brief{
    font-size: 60px;
    margin-top: 100px;
    margin-right: 10px;
    padding-top: 130px;
    
}
#mentor{
    width: 800px;
    height: 815px;
}
#program{
    font-size: 60px;
    padding-left: 60px;
}
button{
  background-color: palevioletred;
  padding: 25px; 
}
.homepage{
    display: flex;
}
a{
    text-decoration: none;
}
#logo{
    width: 100px;
    height: 100px;
}

@media screen and (min-width:280px){
    #program{
    font-size: 20px;
    padding-left: 1px;
      
    }
    .homepage{
      flex-wrap: wrap;
    }
  
    .brief{
        font-size: 20px;
        margin-top: 10px;
        margin-right: 0px;
        padding-top: 30px;
        
    }
    #mentor{
        width: 250px;
        height: 315px;
    }

}
@media screen and (min-width:375px){
    #program{
        font-size: 20px;
        padding-left: 1px;
          
        }
        .homepage{
          flex-wrap: wrap;
        }
      
        .brief{
            font-size: 20px;
            margin-top: 10px;
            margin-right: 0px;
            padding-top: 30px;
            
        }
        #mentor{
            width: 250px;
            height: 315px;
        }
       

}
  
       
@media screen and (min-width:912px){
    #program{
        font-size: 40px;
        padding-left: 1px;
          
        }
        .homepage{
          flex-wrap: wrap;
        }
      
        .brief{
            font-size: 90px;
            margin-top: 10px;
            margin-right: 0px;
            padding-top: 30px;
            
        }
        #mentor{
            width: 750px;
            height: 615px;
            padding-right: 10px;
        }
       

}
@media screen and (min-width:820px){
    #program{
        font-size: 40px;
        padding-left: 1px;
          
        }
        .homepage{
          flex-wrap: wrap;
        }
      
        .brief{
            font-size: 70px;
            margin-top: 10px;
            margin-right: 0px;
            padding-top: 30px;
            
        }
        #mentor{
            width: 650px;
            height: 615px;
            padding-right: 10px;
        }
       

}
  
@media screen and (min-width:768px){
    #program{
        font-size: 40px;
        padding-left: 1px;
          
        }
        .homepage{
          flex-wrap: wrap;
        }
      
        .brief{
            font-size: 60px;
            margin-top: 10px;
            margin-right: 0px;
            padding-top: 30px;
            
        }
        #mentor{
            width: 650px;
            height: 615px;
            padding-right: 10px;
        }
       

}
  
       
