.brief{
    font-size: 60px;
    margin-top: 100px;
    margin-right: 10px;
    padding-top: 130px;
    
}
#mentor{
    width: 800px;
    height: 815px;
}
#program{
    font-size: 60px;
    padding-left: 60px;
}
button{
  background-color: palevioletred;
  padding: 25px; 
}
.homepage{
    display: flex;
}
a{
    text-decoration: none;
}
#logo{
    width: 100px;
    height: 100px;
}

@media screen and (min-width:280px)and(max-width:767px){
    #program{
    font-size: 0px;
    padding-left: 1px;
      
    }
    .homepage{
      flex-wrap: wrap;
    }
  
    .brief{
        font-size: 20px;
        margin-top: 10px;
        margin-right: 0px;
        padding-top: 30px;
        
    }
}
  
       
