.navbar{
    display: flex;
    justify-content: space-around;
    background-color: palevioletred;
    padding-bottom: 250px;
    padding: 40px 40px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.input {
    width: 600px;
    padding: 20px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box; 
    border-color: palevioletred;
    
   
}
.achieve{
    margin-left: 550px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
#trevor{
    width: 300px;
    padding-left: 700px;
}
#trevors{
font-size: 20px;
padding-left: 280px;
}
#head{
    padding-left: 300px;
    font-size: 50px;
}
#logo{
    width: 100px;
    height: 100px;
}